@import "tailwindcss";

:root {
}

@theme inline {
  --font-inter: var(--font-next-inter);
  --font-montserrat: var(--font-next-montserrat);
  --font-thunder: var(--font-next-thunder);
  --font-plaster: var(--font-next-plaster);
  --font-neue-haas: var(--font-next-neue-haas);
}
